body {
    background-color: #D2B48C;
}

NavLink {
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
font-size: 33px;
letter-spacing: 3px;
word-spacing: 1.6px;
color: #000000;
font-weight: 400;
text-decoration: none;
font-style: normal;
font-variant: small-caps;
text-transform: none;
}


